@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ===== Header ===== */

.header {
    position: relative;
    background-color: #2f2f2f;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 28px 0 125px;
    color: #ffffff;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.header__inner,
.header__title {
    position: relative;
    z-index: 1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== Logo ===== */

.logo img {
    display: block;
    width: 180px;

}

/* ===== Menu ===== */

.menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item:not(:last-child) {
    margin-right: 35px;
}

.menu__item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
}

/* ===== Header title ===== */

.header__title {
    width: 690px;
    margin: 105px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 75px;
}

/* ===== Trends ===== */

.trends {
    margin-top: 55px;
}

.trends__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.trends__title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    margin: 12px auto 0;
}

.trends__items {
    display: flex;
    gap: 4px;
}

.trend {
    flex: 1;
    min-height: 320px;
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    align-items: flex-end;
}

.trend:nth-child(1) {
    background-image: url("../images/trend1.jpg");
}

.trend:nth-child(2) {
    background-image: url("../images/trend2.jpg");
}

.trend:nth-child(3) {
    background-image: url("../images/trend3.jpg");
}

.trend:nth-child(4) {
    background-image: url("../images/trend4.jpg");
}

.trend::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.trend__content {
    position: relative;
    z-index: 1;

    margin: 17px;
    padding: 32px 35px 35px;
    border: 3px solid rgba(181, 159, 91, 0.6);
    box-sizing: border-box;
    width: calc(100% - 40px);

}

.trend__tags {
    list-style: none;
    display: flex;
    margin: 0 0 9px 0;
    padding: 0;
}

.trend__tag:not(:last-child) {
    margin-right: 20px;
}

.trend__tag a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #b59f5b;
}

.trend__title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.trend__title a {
    text-decoration: none;
    color: #ffffff;
}

/* ===== Page layout ===== */

.page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 64px;
}

.posts {
    width: 770px;
    flex-shrink: 0;
}

/* ===== Post ===== */

.post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.post__image {
    width: 381px;
    margin-right: 30px;
    display: block;
    object-fit: cover;

}

.post__tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: -8px 0 10px 0;
    padding: 0;
}

.post__tag:not(:last-child) {
    margin-right: 20px;
}

.post__tag a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #b59f5b;
}

.post__title {
    margin: -5px 0 22px 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.post__title a {
    text-decoration: none;
    color: #000;
}

.post__meta {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 10px 0 30px;
}

.post__date {
    color: #888;
    margin-right: 10px;
}

.post__author {
    font-weight: 700;
}

.post__text {
    font-size: 15px;
    line-height: 1.48;
    margin-top: 0;
}

.post__text:first-of-type {
    margin-top: 52px;
}

.post:last-child {
    margin-bottom: 0;
}

/* ===== Sidebar ===== */

.sidebar {
    width: 270px;
    flex-shrink: 0;
}

/* ===== Sidebar sections ===== */

.sidebar__section {
    margin-bottom: 54px;
}

.sidebar__section:first-child {
    margin-top: -27px;
}

.sidebar__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}

.sidebar__title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    margin: 10px auto 0;
}

/* ===== Sidebar post ===== */

.sidebar-post {
    display: flex;
    margin-bottom: 23px;
    align-items: flex-start;
}

.sidebar-post__image {
    width: 70px;
    margin-right: 17px;
}

.sidebar-post__date {
    display: block;
    font-size: 12px;
    color: #888;
}

.sidebar-post__title {
    margin: 0;
    font-size: 14px;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 700;
}

.sidebar-post__title a {
    text-decoration: none;
    color: #000;
}

.search {
    display: flex;
    background-color: #f4f7f6;
}

.search__field {
    width: 100%;
    height: 48px;
    padding: 0 16px;

    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    font-size: 13px;

    -webkit-appearance: none;
    appearance: none;
}

.search__field:focus {
    outline: none;
}

.search__button {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    cursor: pointer;
}

.search__button:hover {
    background-color: #323232;
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe__field {
    height: 48px;
    padding: 0 16px;
    margin-bottom: 18px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
}

.subscribe__field:focus {
    outline: 1px solid #b59f5b;
}

.subscribe__button {
    height: 48px;
    border: none;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.subscribe__button:hover {
    background-color: #323232;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

/* ===== Tags ===== */

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tags__item {
    margin: 0 6px 6px 0;
}

.tags__item a {
    display: block;
    padding: 3px 13px;

    border: 3px solid #eeeeee;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.tags__item a:hover {
    border-color: #b59f5b;
}

/* ===== Themes ===== */

.themes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.themes__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 13px;
    margin-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
}

.themes__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.themes__link:hover {
    color: #b59f5b;
}

.themes__count {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #b59f5b;
}

/* ===== Products ===== */

.products {
    margin-top: 60px;
    margin-bottom: 70px;
}

.products__title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 30px;
    line-height: 1.1;
}

.products__title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    margin: 10px auto 0;
}

.products__items {
    display: flex;
    justify-content: space-between;

}

.product {
    width: calc((100% - 120px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image {
    display: block;
    width: 300px;
}

.product__content {
    flex: 1;
    position: relative;
    margin-top: -30px;
    padding: 48px 21px 20px;
    border: 3px solid rgba(181, 159, 91, 0.6);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.product__title {
    margin: 0 0 8px 0;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.1;
}

.product__text {
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 10px;
    line-height: 1.3;
}

.product__text a {
    color: #b59f5b;
    text-decoration: none;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    align-items: center;

}

.product__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 48px;
}

.product__price {
    font-weight: 700;
    font-size: 14px;
}

.product__price_old {
    text-decoration: line-through;
    margin-bottom: -5px;
    display: block;
    margin-top: -5px;
    line-height: 1;
}

.product__price_new {
    font-size: 20px;
}

.product__button {
    height: 48px;
    padding: 0 28px;
    font-size: 14px;
    border: none;
    background-color: #b59f5b;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.product__button:hover {
    background-color: #323232;
}


/* ===== Footer ===== */

.footer {
    padding: 0;
    margin-top: 0;
}

.footer__socials {
    padding: 0;
}

.footer__socials .container {
    max-width: 1200px;
    padding: 0 15px;
}

.footer__copyright {
    padding: 30px 0;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    padding: 30px 0;
}

.socials__item:not(:last-child) {
    margin-right: 25px;
}

.socials__link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.socials__link_dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.socials__link_pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.socials__link_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    margin-top: 40px;

}

/* ===== Popup ===== */

.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.popup__content {
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%);

    width: 390px;

    padding: 48px 30px;
    background-color: #ffffff;
}

/* ===== Close button ===== */

.popup__close {
    position: absolute;
    top: -30px;
    right: -5px;

    width: 20px;
    height: 20px;

    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* ===== Title ===== */

.popup__title {
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.popup__title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    margin: 10px auto 0;
}

/* ===== Form ===== */

.popup__form {
    font-size: 13px;
}

.popup__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    font-size: 13px;
}

/* ===== Select ===== */

.popup__select {
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 8px;
    padding: 0 40px 0 16px;

    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 10px 17px;

    border: none;
    font-size: 13px;
    color: #999999;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.popup__select::-ms-expand {
    display: none;
}

/* ===== Radio ===== */

.popup__radio-input {
    position: absolute;
    opacity: 0;
}

.popup__radio-text {
    display: inline-flex;
    align-items: center;
    padding-left: 25px;

    font-size: 13px;
    color: #000;
    cursor: pointer;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

.popup__radio-input:checked+.popup__radio-text {
    background-image: url("../svg/form-circle.svg");
}

.popup__radio {
    margin-right: 10px;
}

.popup__fieldset {
    border: none;
    margin: 0 0 25px;
    padding: 0;
}

/* ===== Textarea ===== */

.popup__textarea {
    display: block;
    width: 100%;
    height: 130px;
    margin-top: 8px;
    padding: 16px;

    background-color: #f4f7f6;
    border: none;
    resize: none;
    font-size: 13px;
}

/* ===== Button ===== */

.popup__button {
    width: 100%;
    height: 48px;
    margin-top: 12px;
    margin-bottom: 10px;

    background-color: #b59f5b;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.popup__button:hover {
    background-color: #323232;
}

.popup__textarea::placeholder {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 13px;
    color: #999999;
    opacity: 1;
}

.popup_hidden {
    display: none;
}

/* ===== Interactive states (hover / focus) ===== */
.menu__item a:hover,
.menu__item a:focus {
    text-decoration: underline;
    color: #ffffff;
}

.trend__tag a:hover,
.trend__tag a:focus {
    text-decoration: underline;
    text-decoration-color: #b59f5b;
}

.trend__title a:hover,
.trend__title a:focus {
    color: #b59f5b;
}

.search__field:focus,
.subscribe__field:focus {
    outline: 1px solid #b59f5b;
}

.themes__link:hover,
.themes__link:focus {
    color: #b59f5b;
}

.post__title a:hover,
.post__title a:focus {
    color: #b59f5b;
}

.post__tag a:hover,
.post__tag a:focus {
    text-decoration: underline;
    text-decoration-color: #b59f5b;
}

.product__text a:hover,
.product__text a:focus {
    text-decoration: underline;
    text-decoration-color: #b59f5b;
}

.nowrap {
    white-space: nowrap;
}